 body {
 	text-align:justify;
 }
 #header {
 	width: 100%;
 	height: 140px;
 	margin-bottom: 50px;
 }

 #logo {
 	float: left;
 	width: 40%;
 	margin-top: 40px;
 }

 #logo a{
 	color: #B6DED2;
 	padding-top: 20px;
 }

 #top-nav {
 	float: right;
    width: 60%;
    height: 100%;
    padding-top: 20px;
 }
#top-nav ul {
	margin-top: 30px;
	height: 40%;
}

#top-nav ul a{
	color: #A5D6A7;
	 height: 100%;
}

#top-nav ul a:hover{
	 color: #5b9735;
}
#top-nav ul li:hover{
	 background-color: transparent;
	 /*height: 100%; B6DED2*/
}

@media only screen and (min-width : 301px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: inherit;
    line-height: 64px; }
  .navbar-fixed {
    height: 64px; } }


#menu {
	font-size: 20px;
	font-family: arial;
	font-style: normal;
}
.white1{
	background-color: white;
}

.icon-block {
	padding: 15px;
	margin-bottom: 25px;
}

.icon-block img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*------
------- */
.small_img{
	margin: 5px;
	width: 30%
}
.small_img_{
	margin: 10px;
	width: 40%;
}
.med_img {
	margin: 10px;
	width: 500px;
}
.project_info {
	padding-right: 20px;
	float:left;
	text-align: right;
	border-right: 5px solid #B2DFDB; 
}

#project_content {
	text-align: left;
	width: 70%;
	margin:0 auto 0 auto;
	font-size: 18px;
	text-align:justify;
}
.video_info{
	margin-top:80px;
	text-align: center;
}
h3,h4 {
	color: #00897B;
}
h5 {
	color:#A5D6A7;

}
.card .card-color {
	color: #00897B;
}
.card .card-color:hover {
	color: #B2DFDB;
}
.card a {
	color: #607D8B;
}
.card a:hover {
	color: #B2DFDB;
}

/*------
------- */
.about_quote {
	width: 100%;
	padding-left: 20px;
	min-height: 50px;
	text-align: left;
	border-left: 5px solid #B2DFDB; 
	margin: 50px 0 50px 0;
}
.about_quote p {
	color:#A5D6A7;
	margin: 0px;
	font-size: 1.34rem;
}
.about_quote i {
	color:#5b9735;
	font-size: 1.04rem;
}
.card-panel{
	box-shadow: none;
}

.about_more {
	min-height: 400px;
}
.about_more b {
	font-size: 1.14rem;
}
ul.about_list, ul.about_list >li {
	list-style-type: disc;
	padding: 5px;

}
.about_list {
	padding-left: 30px;
}
/*------
------- */

.page-footer {
	color: #607D8B;
}
.page-footer ul i{
	padding-left: 10px;
}
.footer-copyright a{
	color: #607D8B;
}
.footer-copyright p {
	color:white;
	margin: 0;
	padding: 0;

}
.page-footer p {
	font-size: 18px;
	color:white;
}
.page-footer a{
	color: #607D8B;
}
.page-footer a:hover{
	color: #90A4AE;
}
